<!DOCTYPE html>
<html lang="en">
	<%- include('../partials/head.ejs') %>
	<body class="pt-6">
		<%- include('../partials/nav.ejs', {active: 'home'}) %>
		<!-- video section -->
		<section class="max-w-[67rem] mx-6 sm:mx-28 xl:mx-auto mt-12" id="video">
			<div class="flex flex-col space-y-10 items-center">
				<h1
					class="
						text-center text-2xl
						md:text-[2.5rem]
						font-bold
						tracking-wider
						text-[#00000091]
					"
				>
					Where Your Safety Is Our Priority
				</h1>
				<div class="w-full h-auto border">
					<video width="100%" height="auto" controls="" autoplay="">
						<source src="" type="video/mp4" />
						<source src="movie.ogg" type="video/ogg" />
						Your browser does not support the video tag.
					</video>
				</div>
			</div>
		</section>
		<section
			class="max-w-[67rem] mx-6 sm:mx-28 xl:mx-auto mt-20"
			id="welcome-usa"
		>
			<!-- welcome to usa section -->
			<div
				class="flex flex-col lg:flex-row space-y-10 lg:space-y-0 lg:space-x-10"
			>
				<div class="lg:w-1/2">
					<img src="https://via.placeholder.com/500x350" />
				</div>
				<div class="flex-col space-y-4 lg:w-1/2">
					<h1 class="text-2xl lg:text-[2rem] font-bold">
						Welcome to DYVERGENT SECURITY
					</h1>
					<p>
						First and foremost, we want to thank you for taking time to engage
						and read up on our company. We at DYVERGENT will now and always put
						our clients first. We pride ourselves on having professional
						standards and give the client a quality product. There are many
						other options that a client can go to and for us that is fine
						because we are a company who believes we may not always be what the
						client wants or needs. We are the business that if we don’t have
						what the client needs, we point them in the direction that does
						because the end goal is to make sure their needs are met regardless
						if we help them or someone else does. We are community based which
						means we don’t see competitors as adversaries but as allies. We will
						never compete for your business because competition reduces focus on
						clients. Instead, we will work our best to earn it
					</p>
					<button class="rounded-btn-full">LEARN MORE</button>
				</div>
			</div>
		</section>

		<!-- mission statement -->
		<section id="mission" class="bg-gray-50 mt-16 relative">
			<div
				class="
					max-w-[67rem]
					mx-6
					sm:mx-28
					xl:mx-auto
					py-16
					flex flex-col
					space-y-10
					lg:flex-row lg:space-x-10 lg:space-y-10
					relative
					z-10
				"
			>
				<div class="flex-col space-y-4 lg:w-1/2">
					<h1 class="text-[2rem] font-bold">Mission Statement</h1>
					<p>
						We the men and women of DYVERGENT are dedicated in providing a wide
						variety of services that can address and rectify any single or
						multiple challenges that someone may have.
					</p>
				</div>
				<div class="lg:w-1/2">
					<!-- <img src="/assets/computer-security.jpg" alt="" /> -->
					<img src="https://via.placeholder.com/500x350" />
				</div>
			</div>
			<div
				class="
					bg-gray-50 bg-cover
					lg:h-[20rem]
					w-full
					absolute
					bottom-[-100px]
					z-0
					bg-no-repeat
					block
				"
				style="background-image: url('/assets/images/bg-curve.svg')"
			></div>
		</section>
		<!-- more details grid view -->
		<section
			id="more-details"
			class="mt-20 relative bg-cover bg-no-repeat bg-center"
			style="
				background-image: url('/assets/images/bg.png');
				background-size: initial;
			"
		>
			<div class="max-w-[67rem] mx-6 sm:mx-28 xl:mx-auto">
				<div class="grid grid-cols-1 lg:grid-cols-2 gap-10">
					<div class="bg-white p-[1.8rem] shadow-cust rounded-lg border">
						<div class="h-px w-full bg-[#007aff] mb-1"></div>
						<h5 class="text-xs font-medium">COMPANY</h5>
						<div class="mt-6 flex flex-col space-y-6">
							<h1 class="text-2xl font-bold">Company</h1>
							<p>
								DYVERGENT is a professional company based in Southwest Florida
								which offers a conglomerate of services. The company started
								with an idea and that idea was to offer the best consulting,
								security, and training services to not only meet the client’s
								needs but to exceed their expectations. Being licensed and
								insured is only one facet in establishing credibility but in a
								world of uncertainty, the client deserves more than just meeting
								basic legal standards. So that is why we employ only individuals
								who have qualifying experience to deliver a quality product.
								Many companies pride themselves solely on their years of
								experience and that’s fine for them, but not for us. Here at
								DYVERGENT we believe longevity doesn’t equate to quality. We
								rather have our clients be shaved individuals working for them
								who have 5 years of A+ experience in contrast to 20 years of C-
								experience. We will never settle for mediocrity and neither
								should you. In sum, we are not other companies… We’re DYVERGENT
							</p>
							<div>
								<button class="rounded-btn-full">LEARN MORE</button>
							</div>
						</div>
					</div>
					<div class="bg-white p-[1.8rem] shadow-cust rounded-lg border">
						<div class="h-px w-full bg-[#007aff] mb-1"></div>
						<h5 class="text-xs font-medium">SERVICES</h5>
						<div class="mt-6 flex flex-col space-y-6">
							<h1 class="text-2xl font-bold">Services</h1>
							<p>
								Our company offers an extensive selection of security services
								and will custom tailor those services to fit your needs as a
								commercial or residential customer. It is our goal to provide
								optimal services in every possible field of security utilizing
								our highly trained, qualified staff. We will evaluate your
								specific needs thoroughly and create highly specialized plans to
								keep you most secure. We cater to high profile individuals or
								families and also provide services for specialized events which
								would call for an increase in security.
							</p>
							<div>
								<button class="rounded-btn-full">LEARN MORE</button>
							</div>
						</div>
					</div>
					<div class="bg-white p-[1.8rem] shadow-cust rounded-lg border">
						<div class="h-px w-full bg-[#007aff] mb-1"></div>
						<h5 class="text-xs font-medium">TESTIMONIALS</h5>
						<div class="mt-6 flex flex-col space-y-6">
							<h1 class="text-2xl font-bold">Testimonials</h1>
							<p>
								Don’t take our word for it: let those who know us from
								experience tell you about the excellence of our performance
							</p>
							<div>
								<button class="rounded-btn-full">LEARN MORE</button>
							</div>
						</div>
					</div>
					<div class="bg-white shadow-cust rounded-lg border">
						<div>
							<!-- <img class="rounded-lg" src="/assets/V3.jpg" alt="" /> -->
							<img
								class="w-full rounded-lg"
								src="https://via.placeholder.com/500x500"
							/>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Services List -->
		<section id="service-list" class="mt-16 pb-8 relative">
			<div class="max-w-[67rem] mx-6 sm:mx-28 xl:mx-auto">
				<h1 class="text-[2rem] font-bold flex justify-center text-center">
					Services List
				</h1>
				<div class="grid grid-cols-1 lg:grid-cols-3 gap-10 mt-8">
					<div class="bg-white p-[1.8rem] shadow-md rounded-lg border">
						<div class="flex flex-col space-y-8 text-[#2a3749] font-bold">
							<div class="flex space-x-6">
								<img src="/assets/images/arrow_right_alt.svg" alt="" />
								<h1>Front line supervisor training</h1>
							</div>
							<div class="flex space-x-6">
								<img src="/assets/images/arrow_right_alt.svg" alt="" />
								<h1>Staff turnover</h1>
							</div>
							<div class="flex space-x-6">
								<img src="/assets/images/arrow_right_alt.svg" alt="" />
								<h1>Middle Management</h1>
							</div>
							<div class="flex space-x-6">
								<img src="/assets/images/arrow_right_alt.svg" alt="" />
								<h1>Report writing</h1>
							</div>
							<div class="flex space-x-6">
								<img src="/assets/images/arrow_right_alt.svg" alt="" />
								<h1>Basic interviewing techniques for potential employees</h1>
							</div>
						</div>
					</div>
					<!-- 2 -->
					<div class="bg-white p-[1.8rem] shadow-md rounded-lg border">
						<div class="flex flex-col space-y-8 text-[#2a3749] font-bold">
							<div class="flex space-x-6">
								<img src="/assets/images/arrow_right_alt.svg" alt="" />
								<h1>Concealed Weapon Permit</h1>
							</div>
							<div class="flex space-x-6">
								<img src="/assets/images/arrow_right_alt.svg" alt="" />
								<h1>G License Armed Security Course</h1>
							</div>
							<div class="flex space-x-6">
								<img src="/assets/images/arrow_right_alt.svg" alt="" />
								<h1>G license Requalification</h1>
							</div>
							<div class="flex space-x-6">
								<img src="/assets/images/arrow_right_alt.svg" alt="" />
								<h1>Armed and Unarmed Guard Services</h1>
							</div>
							<div class="flex space-x-6">
								<img src="/assets/images/arrow_right_alt.svg" alt="" />
								<h1 class="">Home Watch</h1>
							</div>
						</div>
					</div>
					<!-- 3 -->
					<div class="bg-white p-[1.8rem] shadow-md rounded-lg border">
						<div class="flex flex-col space-y-8 text-[#2a3749] font-bold">
							<div class="flex space-x-6">
								<img src="/assets/images/arrow_right_alt.svg" alt="" />
								<h1>Executive Protection</h1>
							</div>
							<div class="flex space-x-6">
								<img src="/assets/images/arrow_right_alt.svg" alt="" />
								<h1>Unarmed Combat Training</h1>
							</div>
							<div class="flex space-x-6">
								<img src="/assets/images/arrow_right_alt.svg" alt="" />
								<h1>Residential / Warehouses / Commercial Protection</h1>
							</div>
							<div class="flex space-x-6">
								<img src="/assets/images/arrow_right_alt.svg" alt="" />
								<h1>Bodyguard Protection</h1>
							</div>
							<div class="flex space-x-6">
								<img src="/assets/images/arrow_right_alt.svg" alt="" />
								<h1 class="">Loss Prevention</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<%- include('../partials/footer.ejs') %>
	</body>
	<script>
		function mobileNav() {
			var element = document.querySelector('#mobileNav');
			element.classList.toggle('hidden');
		}
	</script>
</html>
