<!DOCTYPE html>
<html lang="en">
	<%- include('../partials/head.ejs') %>
	<body class="pt-6">
		<%- include('../partials/nav.ejs', {active: 'home'}) %>
		<!-- video section -->
		<section class="max-w-[67rem] mx-6 sm:mx-28 xl:mx-auto mt-12" id="video">
			<div class="flex flex-col space-y-10 items-center">
				<h1
					class="
						text-center text-2xl
						md:text-[2.5rem]
						font-bold
						tracking-wider
						text-[#00000091]
					"
				>
					Where Your Safety Is Our Priority
				</h1>
				<div class="w-full h-auto border">
					<video width="100%" height="auto" controls="" autoplay="">
						<source src="" type="video/mp4" />
						<source src="movie.ogg" type="video/ogg" />
						Your browser does not support the video tag.
					</video>
				</div>
			</div>
		</section>
		<section
			class="max-w-[67rem] mx-6 sm:mx-28 xl:mx-auto mt-20"
			id="welcome-usa"
		>
			<!-- welcome to usa section -->
			<div
				class="flex flex-col lg:flex-row space-y-10 lg:space-y-0 lg:space-x-10"
			>
				<div class="lg:w-1/2">
					<img src="https://via.placeholder.com/500x350" />
				</div>
				<div class="flex-col space-y-4 lg:w-1/2">
					<h1 class="text-2xl lg:text-[2rem] font-bold">
						Welcome to DYVERGENT SECURITY,LLC
					</h1>
					<p>
						Where your safety is our priority. Our security management team
						members have over ten years of real hands on security experience in
						the field of security offering business, residential, and private
						security services. We are one of the top tier security companies
						available in the state of Florida today. Our goal is to adequately
						provide our customers with the best security services obtainable on
						today’s market, and to keep our customers as repeat clientele for
						the future. We pride ourselves on customer service, customer care,
						and most of all customer satisfaction. Our mission is to keep you
						protected and make you feel safe and secure while in our care.
					</p>
					<button class="rounded-btn-full">LEARN MORE</button>
				</div>
			</div>
		</section>

		<!-- mission statement -->
		<section id="mission" class="bg-gray-50 mt-16 relative">
			<div
				class="
					max-w-[67rem]
					mx-6
					sm:mx-28
					xl:mx-auto
					py-16
					flex flex-col
					space-y-10
					lg:flex-row lg:space-x-10 lg:space-y-10
					relative
					z-10
				"
			>
				<div class="flex-col space-y-4 lg:w-1/2">
					<h1 class="text-[2rem] font-bold">Mission Statement</h1>
					<p>
						Our mission is to remove worries for clients who require security
						for their buildings, facilities, and events by providing excellent
						customer service and in-depth training for our employees that will
						lead to professional security solutions. We do any and everything we
						possibly can to satisfy our clients and keep your residence or
						business secure, sound, and safe. Our company customizes its
						services to meet the needs of all of our customers. We do this to
						provide the highest quality customer care and services of any
						security company available on today’s market.
					</p>
				</div>
				<div class="lg:w-1/2">
					<!-- <img src="./assets/computer-security.jpg" alt="" /> -->
					<img src="https://via.placeholder.com/500x350" />
				</div>
			</div>
			<div
				class="
					bg-gray-50 bg-cover
					lg:h-[20rem]
					w-full
					absolute
					bottom-[-100px]
					z-0
					bg-no-repeat
					block
				"
				style="background-image: url('./assets/images/bg-curve.svg')"
			></div>
		</section>
		<!-- more details grid view -->
		<section
			id="more-details"
			class="mt-20 relative bg-cover bg-no-repeat bg-center"
			style="
				background-image: url('./assets/images/bg.png');
				background-size: initial;
			"
		>
			<div class="max-w-[67rem] mx-6 sm:mx-28 xl:mx-auto">
				<div class="grid grid-cols-1 lg:grid-cols-2 gap-10">
					<div class="bg-white p-[1.8rem] shadow-cust rounded-lg border">
						<div class="h-px w-full bg-[#007aff] mb-1"></div>
						<h5 class="text-xs font-medium">COMPANY</h5>
						<div class="mt-6 flex flex-col space-y-6">
							<h1 class="text-2xl font-bold">Company</h1>
							<p>
								Dyvergent Security is a security company based in Eastern
								Florida. We take pride in working to satisfy our customer needs
								and expectations. We are a licensed and insured company and meet
								all of the required regulations. We treat our customers like
								royalty and make sure to meet the needs of all individuals and
								organizations that seek our services. We are as professional as
								possible and take the needs of our customers very seriously
							</p>
							<div>
								<button class="rounded-btn-full">LEARN MORE</button>
							</div>
						</div>
					</div>
					<div class="bg-white p-[1.8rem] shadow-cust rounded-lg border">
						<div class="h-px w-full bg-[#007aff] mb-1"></div>
						<h5 class="text-xs font-medium">SERVICES</h5>
						<div class="mt-6 flex flex-col space-y-6">
							<h1 class="text-2xl font-bold">Services</h1>
							<p>
								Our company offers an extensive selection of security services
								and will custom tailor those services to fit your needs as a
								commercial or residential customer. It is our goal to provide
								optimal services in every possible field of security utilizing
								our highly trained, qualified staff. We will evaluate your
								specific needs thoroughly and create highly specialized plans to
								keep you most secure. We cater to high profile individuals or
								families and also provide services for specialized events which
								would call for an increase in security
							</p>
							<div>
								<button class="rounded-btn-full">LEARN MORE</button>
							</div>
						</div>
					</div>
					<div class="bg-white p-[1.8rem] shadow-cust rounded-lg border">
						<div class="h-px w-full bg-[#007aff] mb-1"></div>
						<h5 class="text-xs font-medium">TESTIMONIALS</h5>
						<div class="mt-6 flex flex-col space-y-6">
							<h1 class="text-2xl font-bold">Testimonials</h1>
							<p>
								Don’t take our word for it: let those who know us from
								experience tell you about the excellence of our performance
							</p>
							<div>
								<button class="rounded-btn-full">LEARN MORE</button>
							</div>
						</div>
					</div>
					<div class="bg-white shadow-cust rounded-lg border">
						<div>
							<!-- <img class="rounded-lg" src="./assets/V3.jpg" alt="" /> -->
							<img
								class="w-full rounded-lg"
								src="https://via.placeholder.com/500x500"
							/>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Services List -->
		<section id="service-list" class="mt-16 pb-8 relative">
			<div class="max-w-[67rem] mx-6 sm:mx-28 xl:mx-auto">
				<h1 class="text-[2rem] font-bold flex justify-center text-center">
					Services List
				</h1>
				<div class="grid grid-cols-1 lg:grid-cols-3 gap-10 mt-8">
					<div class="bg-white p-[1.8rem] shadow-md rounded-lg border">
						<div class="flex flex-col space-y-8 text-[#2a3749] font-bold">
							<div class="flex space-x-6">
								<img
									class=""
									src="./assets/images/arrow_right_alt.svg"
									alt=""
								/>
								<h1>Residential Properties & High-Rise</h1>
							</div>
							<div class="flex space-x-6">
								<img
									class=""
									src="./assets/images/arrow_right_alt.svg"
									alt=""
								/>
								<h1>Special Event Services</h1>
							</div>
							<div class="flex space-x-6">
								<img
									class=""
									src="./assets/images/arrow_right_alt.svg"
									alt=""
								/>
								<h1>Vehicle Patrol and Alarm Response</h1>
							</div>
							<div class="flex space-x-6">
								<img
									class=""
									src="./assets/images/arrow_right_alt.svg"
									alt=""
								/>
								<h1>Hospital / Healthcare Facilities</h1>
							</div>
							<div class="flex space-x-6">
								<img
									class=""
									src="./assets/images/arrow_right_alt.svg"
									alt=""
								/>
								<h1 class="">Hotels / Resorts</h1>
							</div>
						</div>
					</div>
					<!-- 2 -->
					<div class="bg-white p-[1.8rem] shadow-md rounded-lg border">
						<div class="flex flex-col space-y-8 text-[#2a3749] font-bold">
							<div class="flex space-x-6">
								<img
									class=""
									src="./assets/images/arrow_right_alt.svg"
									alt=""
								/>
								<h1>Financial Institutions</h1>
							</div>
							<div class="flex space-x-6">
								<img
									class=""
									src="./assets/images/arrow_right_alt.svg"
									alt=""
								/>
								<h1>Construction Sites</h1>
							</div>
							<div class="flex space-x-6">
								<img
									class=""
									src="./assets/images/arrow_right_alt.svg"
									alt=""
								/>
								<h1>Manufacturing & Industrial</h1>
							</div>
							<div class="flex space-x-6">
								<img
									class=""
									src="./assets/images/arrow_right_alt.svg"
									alt=""
								/>
								<h1>Schools</h1>
							</div>
							<div class="flex space-x-6">
								<img
									class=""
									src="./assets/images/arrow_right_alt.svg"
									alt=""
								/>
								<h1 class="">Commercial Real Estate</h1>
							</div>
						</div>
					</div>
					<!-- 3 -->
					<div class="bg-white p-[1.8rem] shadow-md rounded-lg border">
						<div class="flex flex-col space-y-8 text-[#2a3749] font-bold">
							<div class="flex space-x-6">
								<img
									class=""
									src="./assets/images/arrow_right_alt.svg"
									alt=""
								/>
								<h1>Foot Patrol/ Bicycle Patrol/ Cart Patrol</h1>
							</div>
							<div class="flex space-x-6">
								<img
									class=""
									src="./assets/images/arrow_right_alt.svg"
									alt=""
								/>
								<h1>Shopping Centers & Malls</h1>
							</div>
							<div class="flex space-x-6">
								<img
									class=""
									src="./assets/images/arrow_right_alt.svg"
									alt=""
								/>
								<h1>Warehouses</h1>
							</div>
							<div class="flex space-x-6">
								<img
									class=""
									src="./assets/images/arrow_right_alt.svg"
									alt=""
								/>
								<h1>Executive Protection</h1>
							</div>
							<div class="flex space-x-6">
								<img
									class=""
									src="./assets/images/arrow_right_alt.svg"
									alt=""
								/>
								<h1 class="">Loss Prevention</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<%- include('../partials/footer.ejs') %>
	</body>
	<script>
		function mobileNav() {
			var element = document.querySelector('#mobileNav');
			element.classList.toggle('hidden');
		}
	</script>
</html>
