<section id="footer" class="mt-0 bg-[#0c71c314] py-10">
	<div class="max-w-[67rem] mx-6 xl:mx-auto">
		<div class="flex flex-col space-y-6 lg:space-y-0 lg:flex-row justify-between">
			<div class="flex flex-col lg:flex-row space-y-10 lg:space-y-0 lg:space-x-10">
				<div>
					<img class="w-[19.2rem]" src="./assets/images/logo.png" alt="" />
				</div>
				<div>
					<address class="lg:ml-10">
						DYVERGENT SECURITY, LLC
						<br />
						3400 Sara Ave N<br />Lehigh Acres, FL 33971<br />Telephone: ?(???) ???-???? <br />Telephone: ?(???) ???-???? <br />FAX: ?(???)
						???-????
					</address>
				</div>
			</div>
			<div>
				<iframe
					class="w-full sm:w-[400px]"
					width="180"
					height="300"
					style="border: 0"
					loading="lazy"
					src="https://www.google.com/maps/embed/v1/view?zoom=17&center=26.6178%2C-81.6873&key=AIzaSyBmiWlOI49lGCfJXYFdd83u7_FO8IYdl8Y"
				></iframe>
			</div>
		</div>
	</div>
</section>
<section id="copy-right" class="bg-[#00000080] p-4">
	<div class="max-w-[67rem] mx-auto">
		<div class="flex justify-center items-center">
			<p class="text-sm text-gray-200">Copyright © DYVERGENT SECURITY. All Rights Reserved.</p>
		</div>
	</div>
</section>
